<div class="d-flex flex-column">
<button class = "btn btn-secondary d-block my-3" (click)="prijava()" [disabled]="trenutni=='prijava'">Prijava</button>
<button class = "btn btn-secondary d-block my-3" (click)="prijavaAdministrator()" [disabled]="trenutni=='prijavaAdministrator'">Administrator</button>
<button class = "btn btn-secondary d-block my-3" (click)="registracija()" [disabled]="trenutni=='registracija'">Registacija</button>
<button class = "btn btn-secondary d-block my-3" (click)="zaboravljenaLozinka()" [disabled]="trenutni=='zaboravljenaLozinka'">Zaboravljena lozinka</button>
<button class = "btn btn-secondary d-block my-3" (click)="promenaLozinke()" [disabled]="trenutni=='promenaLozinke'">Promena lozinke</button>
</div>