<div class="row">
    <div class ="col-md-2 col-sm-12 bg-blue p-0">
        <ucenik-navigacija trenutni="ucenikProfil"></ucenik-navigacija>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Profil</h2>
            </div>
        </div>
        <div class="row px-3 py-1 border-bottom border-bottom-5 profile-info">
            <div class="col-2">
                <img [src]="podaci.profil" width="100%" class="rounded-1">
            </div>
            <div class="col-10">
                <h2>{{podaci.ime}} {{podaci.prezime}}</h2>
                <p>{{podaci.skola}}, {{podaci.razred}}. razred</p>
                <br>
                <p>Kontakt: <br> {{podaci.mejl}} <br> {{podaci.adresa}} <br> {{podaci.telefon}}</p>
                <br>
                <i class="material-icons" (click)="azuriranje()">edit</i>
            </div>
        </div>
        <div class="row px-3 py-1">
            Sadrzaj
        </div>
    </div>
</div>