<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class = "container">
  <div class="row header p-3 align-items-end border-bottom border-bottom-2 border-dark">
    <div class="col-1 ps-5">
        <img src = "../assets/star.png" width = "200%">
    </div>
    <div class = "col-11 fw-bold">
      <h1 class = "ps-2">Moj omiljeni profesor</h1>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="row footer p-3 pt-4">
    <div class = "offset-3 col-6">
        Copyright 2024, Aleksa Vučković, Odsek za softversko inženjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu<br>
    </div>
  </div>
</div>