<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class = "container">
  <div class="row header p-3 align-items-end border-bottom border-bottom-2 border-dark">

    <div class = "col-12 fw-bold d-flex align-items-end">
      <img src = "../assets/zvezda-puna.png" width = "80px" class="d-inline">
      <h1 class="d-inline">Moj omiljeni profesor</h1>
    </div>
  </div>
  <router-outlet></router-outlet>
  <!--<div class="row px-3 py-1">
    <div class="col-12 col-lg-10">
        <canvas baseChart
        [datasets]="datasets"
        [options]="options"
        [legend]="legend"
        [type]="type">
        </canvas>
    </div>
</div>-->
  <div class="row footer p-3 pt-4">
    <div class = "offset-3 col-6">
        Copyright 2024, Aleksa Vučković, Odsek za softversko inženjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu<br>
    </div>
  </div>
</div>