<nav class ="navbar navbar-expand-md bg-blue">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class ="nav navbar-nav">
            <li class ="nav-item w-100" (click)="ucenikProfil()" [class.active]="trenutni=='ucenikProfil'" [class.inactive]="trenutni!='ucenikProfil'">
                Profil
            </li>
            <li class ="nav-item w-100" (click)="ucenikNastavnici()" [class.active]="trenutni=='ucenikNastavnici'" [class.inactive]="trenutni!='ucenikNastavnici'">
                Nastavnici
            </li>
            <li class ="nav-item w-100 inactive" (click)="odjava()">
                Odjava
            </li>
        </ul>
    </div>
</nav>