<div class="row">
    <div class ="col-md-2 col-sm-12 bg-blue p-0">
        <prijava-navigacija trenutni="promenaLozinke"></prijava-navigacija>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Promena lozinke</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-4">
                <div class="alert alert-success" role="alert" *ngIf="alertUspeh!=''">
                    {{alertUspeh}}
                </div>
                <form [formGroup]="promenaForm" (ngSubmit)="promena()">
                    <div class="mb-3">
                        <label for="kime" class="form-label">Korisnicko ime</label>
                        <input type="text" class="form-control" id="kime" formControlName="kime" required>
                    </div>
                    <div class="mb-3">
                        <label for="stara" class="form-label">Stara lozinka</label>
                        <input type="password" class="form-control" id="stara" formControlName="stara" required>
                    </div>
                    <div class="mb-3">
                        <label for="nova" class="form-label">Nova lozinka</label>
                        <input type="password" class="form-control" id="nova" formControlName="nova" required>
                    </div>
                    <div class="mb-3">
                        <label for="nova2" class="form-label">Nova lozinka (ponovljena)</label>
                        <input type="password" class="form-control" id="nova2" formControlName="nova2" required>
                    </div>
                    <div class="form-text text-danger">{{greska}}</div>
                    <button type="submit" class="btn btn-primary">Promeni lozinku</button>
                </form>
            </div>
        </div>
    </div>
</div>