<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <ucenik-navigacija trenutni="ucenikCasovi"></ucenik-navigacija>
    </div>
    <div class="col-lg-10 col-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Predstojeci casovi</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12">
                <table  class = "table table-striped border">
                    <thead>
                        <tr>
                            <th>
                                Termin
                            </th>
                            <th>
                                Trajanje
                            </th>
                            <th>
                                Predmet
                            </th>
                            <th>
                                Nastavnik
                            </th>
                            <th>
                                Opis
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let elem of casovi">
                        <td>
                            {{elem.od.datumVremeString()}}
                        </td>
                        <td>
                            {{elem.trajanje}}
                        </td>
                        <td>
                            {{elem.predmet}}
                        </td>
                        <td>
                            {{elem.ime}} {{elem.prezime}}
                        </td>
                        <td>
                            {{elem.opis}}
                        </td>
                        <td>
                            <button *ngIf="mogucePrikljucenje(elem)" class="btn btn-primary" (click)="prikljucenje(elem)">Prikljuci se</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>