<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <ucenik-navigacija trenutni="ucenikZakazivanje"></ucenik-navigacija>
    </div>
    <div class="col-lg-10 col-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Zakazivanje kod nastavnika: {{podaci.ime}} {{podaci.prezime}}</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12" *ngIf="kalendar==false">
                <div class="mb-3">
                    <label for="datumvreme1" class="form-label">Odaberite datum i vreme</label>
                    &nbsp; &nbsp;<button (click)="kalendar = true" class = "btn btn-secondary m-1">Predji na detaljan pregled</button>
                    <datum-vreme-input id="datumvreme1" [(ngModel)]="datumvreme1"/>
                </div>
            </div>
            <div class="col-12" *ngIf="kalendar">
                <div class="mb-3">
                    <label for="datumvreme2" class="form-label">Izaberite termin na kalendaru</label>
                    &nbsp; &nbsp;<button (click)="kalendar = false" class="btn btn-secondary m-1">Nazad</button>
                    <kalendar id="datumvreme2" [(ngModel)]="datumvreme2" [podaci]="termini" [datum]="datum" [period]="period" [velicina]="velicina" (strelica)="kalendarStrelica($event)"/>
                </div>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-4">
                <div class="mb-3">
                    <input type="checkbox" class="form-check-input" [(ngModel)]="duplicas" id="duplicas">
                    &nbsp;<label for="duplicas" class="form-label">Zelim dupli cas.</label>
                </div>
                <div class="mb-3">
                    <label for="predmet" class="form-label">Odaberite predmet</label>
                    <select id="predmet" [(ngModel)]="predmet" [disabled]="podaci.predmeti.length==1" class="form-select">
                        <option *ngFor="let elem of podaci.predmeti" [value]="elem">{{elem}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="opis" class="form-label">Poruka ili dodatno pojasnjenje nastavniku</label>
                    <textarea id="opis" [(ngModel)]="opis" class="form-control"></textarea>
                </div>
                <div class="form-text text-danger mb-3">{{greska}}</div>
                <button (click)="zakazi()" class="btn btn-primary">Zakazi</button>
            </div>
        </div>
    </div>
</div>

<ng-template #modal>
    <div class="modal-header">
        <h5 class="modal-title">Zakazivanje</h5>
    </div>
    <div class="modal-body">
        {{poruka}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="kraj()">Ok</button>
    </div>
</ng-template>
