<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <nastavnik-navigacija trenutni="nastavnikCasovi"></nastavnik-navigacija>
    </div>
    <div class="col-lg-10 col-12 ">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Casovi</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class = "col-12">
                Prikazi: <select class="form-select d-inline" [(ngModel)]="limit" (ngModelChange)="osveziCasove()">
                    <option selected value="5">5</option>
                    <option value="10">10</option>
                    <option value="100">Sve</option>
                  </select>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12">
                <table *ngIf="casovi.length!=0" class = "table table-striped border">
                    <thead>
                        <tr>
                            <th>
                                Termin
                            </th>
                            <th>
                                Trajanje
                            </th>
                            <th>
                                Predmet
                            </th>
                            <th>
                                Ucenik
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let elem of casovi">
                        <td>
                            {{elem.od.datumVremeString()}}
                        </td>
                        <td>
                            {{elem.trajanje}}
                        </td>
                        <td>
                            {{elem.predmet}}
                        </td>
                        <td>
                            {{elem.ime}} {{elem.prezime}}
                        </td>
                        <td>
                            <button *ngIf="mogucOtkaz(elem)" class="btn btn-danger" (click)="otkazi(elem)">Otkazi</button>
                            <button *ngIf="mogucePrikljucenje(elem)" class="btn btn-primary" (click)="prikljucenje(elem)">Prikljuci se</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h4 *ngIf="casovi.length==0">Nema casova za prikaz.</h4>
            </div>
        </div>
    </div>
</div>


<ng-template #modal>
    <div class="modal-header">
        <h5 class="modal-title">Otkazivanje</h5>
    </div>
    <div class="modal-body">
        <p>Otkazujete čas zakazan za {{odabran.od.datumVremeString()}}.</p>
        <label for="obrazlozenje" class="form-label">Ovde možete uneti obrazloženje.</label>
        <textarea id="obrazlozenje" [(ngModel)]="obrazlozenje" class="form-control"></textarea>
        <div class="form-text text-danger">{{greska}}</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="otkaziDefinitivno()">Otkaži</button>
        &nbsp;
        <button class="btn btn-secondary" (click)="modalServis.dismissAll()">Odustani</button>
    </div>
</ng-template>
