<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <prijava-navigacija trenutni="osajtu"></prijava-navigacija>
    </div>
    <div class="col-lg-10 col-12 ">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>O sajtu</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class = "col-12">
                <p class = "my-3">
                    "Moj omiljeni profesor" je sajt namenjen ucenicima svih uzrasta koji zele da se bolje spreme za test, ispit ili odgovaranje, ili jednostavno zele nesto vise da nauce.
                    Sajt je takodje namenjen nastavnicima, profesorima i svima koji zele svoje znanje da podele sa drugima.
                </p>
                <h4 class = "my-5">
                    Broj nastavnika: <span class="statistika">{{statistika.brojNastavnika}}</span>
                </h4>
                <h4 class = "my-5">
                    Broj ucenika: <span class="statistika">{{statistika.brojUcenika}}</span>
                </h4>
                <h4 class = "my-5">
                    Broj odrzanih casova u poslednjih 7 dana: <span class="statistika">{{statistika.brojCasova7}}</span>
                </h4>
                <h4 class = "my-5">
                    Broj odrzanih casova u poslednjih 30 dana: <span class="statistika">{{statistika.brojCasova30}}</span>
                </h4>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12">
                <h2>Nasi nastavnici:</h2>
                <table class = "table table-striped border">
                    <thead>
                        <tr>
                            <th>
                                Ime
                            </th>
                            <th>
                                Prezime
                            </th>
                            <th>
                                Predmet
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <input type="text" class ="border border-0" [(ngModel)]="pretraga.ime" (change)="osvezi()" placeholder = "Pretraga po imenu." >
                                <i class="material-icons" (click)="klikSort('ime')">{{sort['ime'] ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
                            </th>
                            <th>
                                <input type="text" class ="border border-0" [(ngModel)]="pretraga.prezime" (change)="osvezi()" placeholder = "Pretraga po prezimenu." >
                                <i class="material-icons" (click)="klikSort('prezime')">{{sort['prezime'] ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
                            </th>
                            <th>
                                <input type="text" class ="border border-0" [(ngModel)]="pretraga.predmet" (change)="osvezi()" placeholder = "Pretraga po predmetu." >
                                <i class="material-icons" (click)="klikSort('predmet')">{{sort['predmet'] ? 'arrow_drop_down' : 'arrow_drop_up'}}</i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let elem of nastavnici">
                            <td scope = "row"> {{elem.ime}} </td>
                            <td scope = "row"> {{elem.prezime}} </td>
                            <td scope = "row"> {{elem.predmet}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</div>

