<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <prijava-navigacija trenutni="registracija"></prijava-navigacija>
    </div>
    <div class="col-lg-10 col-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Registracija</h2>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="alert alert-success" role="alert" *ngIf="alertUspeh!=''">
                    {{alertUspeh}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="alertNeuspeh!=''">
                    {{alertNeuspeh}}
                </div>
                <form [formGroup]="registracijaForm" (ngSubmit)="registracija()">
                    <div class="mb-3">
                        <label for="kime" class="form-label">Korisničko ime *</label>
                        <input type="text" class="form-control" id="kime" formControlName="kime" [class.greska]="registracijaForm.get('kime')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <label for="lozinka" class="form-label">Lozinka *</label>
                        <input type="password" class="form-control" id="lozinka" formControlName="lozinka" required [class.greska]="greskaLozinka != '' || (registracijaForm.get('lozinka')?.hasError('required') && greska != '')">
                        <div class="form-text text-danger">{{greskaLozinka}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="pitanje" class="form-label">Sigurnosno pitanje *</label>
                        <input type="text" class="form-control" id="pitanje" formControlName="pitanje" required [class.greska]="registracijaForm.get('pitanje')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <label for="odgovor" class="form-label">Sigurnosni odgovor *</label>
                        <input type="text" class="form-control" id="odgovor" formControlName="odgovor" required [class.greska]="registracijaForm.get('odgovor')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <label for="ime" class="form-label">Ime *</label>
                        <input type="text" class="form-control" id="ime" formControlName="ime" required [class.greska]="registracijaForm.get('ime')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <label for="prezime" class="form-label">Prezime *</label>
                        <input type="text" class="form-control" id="prezime" formControlName="prezime" required [class.greska]="registracijaForm.get('prezime')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <div>Pol *</div>
                        <input type="radio" name = "pol" class="form-check-input" id="pol-M" formControlName="pol" value="M" [class.greska]="registracijaForm.get('pol')?.hasError('required') && greska != ''">
                        <label for="pol-M" class="form-label">M</label>
                        &nbsp;&nbsp;
                        <input type="radio" name = "pol" class="form-check-input" id="pol-Z" formControlName="pol" value="Z" [class.greska]="registracijaForm.get('pol')?.hasError('required') && greska != ''">
                        <label for="pol-Z" class="form-label">Ž</label>
                    </div>
                    <div class="mb-3">
                        <label for="adresa" class="form-label">Adresa *</label>
                        <input type="text" class="form-control" id="adresa" formControlName="adresa" required [class.greska]="registracijaForm.get('adresa')?.hasError('required') && greska != ''">
                    </div>
                    <div class="mb-3">
                        <label for="telefon" class="form-label">Telefon *</label>
                        <input type="text" class="form-control" id="telefon" formControlName="telefon" required [class.greska]="greskaTelefon != '' || (registracijaForm.get('telefon')?.hasError('required') && greska != '')">
                        <div class="form-text text-danger">{{greskaTelefon}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="mejl" class="form-label">Mejl *</label>
                        <input type="text" class="form-control" id="mejl" formControlName="mejl" required [class.greska]="greskaMejl != '' || (registracijaForm.get('mejl')?.hasError('required') && greska != '')">
                        <div class="form-text text-danger">{{greskaMejl}}</div>
                    </div>
                    <div class="mb-3">
                        <label for="profil" class="form-label">Profilna slika</label>
                        <fajl-input formControlName="profil" id = "profil" [greska]="greskaProfil != ''"></fajl-input>
                        <div class="form-text text-danger">{{greskaProfil}}</div>
                    </div>
                    <div class="mb-3">
                        <div [class.greska]="registracijaForm.get('tip')?.hasError('required') && greska != ''">Registrujem se kao *</div>
                        
                        <input type="radio" name = "tip" class="form-check-input" id="ucenik" formControlName="tip" value="Ucenik" (change)="promenaTipa()">
                        <label for="ucenik" class="form-label">Ucenik</label>
                        &nbsp;&nbsp;
                        <input type="radio" name = "tip" class="form-check-input" id="nastavnik" formControlName="tip" value="Nastavnik" (change)="promenaTipa()">
                        <label for="nastavnik" class="form-label">Nastavnik</label>
                    </div>
                </form>
                <form [formGroup]="korak2UcenikForm" (ngSubmit)="registracijaUcenik()" *ngIf="tip=='Ucenik'">
                    <div class="mb-3">
                        <label for="skola" class="form-label">Tip škole</label>
                        <select id="skola" formControlName="skola" class="form-select" required>
                            <option value="Osnovna" selected>Osnovna</option>
                            <option value="Gimnazija">Gimnazija</option>
                            <option value="Srednja stručna">Srednja stručna</option>
                            <option value="Srednja umetnička">Srednja umetnička</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="razred" class="form-label">Razred</label>
                        <input type="number" class = "form-control" id = "razred" formControlName="razred" min="1" max="8" required>
                    </div>
                    <p class="form-text text-danger">{{greska}}</p>
                    <button type="submit" class="btn btn-primary">Registruj se</button>
                </form>
                <form [formGroup]="korak2NastavnikForm" (ngSubmit)="registracijaNastavnik()" *ngIf="tip=='Nastavnik'">
                    <div class="mb-3">
                        <label for="predmeti" class="form-label">Koje predmete želite da podučavate?</label>
                        <select id="predmeti" formControlName="predmeti" class="form-control" multiple>
                            <option *ngFor="let elem of predmeti" [value]="elem">{{elem}}</option>
                        </select>
                        <span>Nesto drugo: <input type="text" class="form-control" formControlName="drugiPredmet"></span>
                    </div>
                    <div class="mb-3">
                        <label for="uzrasti" class="form-label">Koje uzraste želite da podučavate?</label>
                        <select id="uzrasti" formControlName="uzrasti" class="form-control" multiple>
                            <option value="Osnovna 1-4" selected>Osnovna 1-4</option>
                            <option value="Osnovna 5-8">Osnovna 5-8</option>
                            <option value="Srednja">Srednja</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="saznao" class="form-label">Kako ste saznali za nas?</label>
                        <textarea id="saznao" formControlName="saznao" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="cv" class="form-label">CV *</label>
                        <fajl-input formControlName="cv" id = "cv" [greska]="greskaCV != ''"></fajl-input>
                        <div class="form-text text-danger">{{greskaCV}}</div>
                    </div>
                    <p class="form-text text-danger">{{greska}}</p>
                    <button type="submit" class="btn btn-primary">Registruj se</button>
                </form>
            </div>
        </div>
    </div>
</div>
  