/* You can add global styles to this file, and also import other style files */
/* styles.css */

/* You can also use the Bootstrap CSS file directly from the node_modules folder */
/*@import "~bootstrap/dist/css/bootstrap.min.css";*/

.header, .footer {
    background-color: #cfe3f0;
}
.bg-blue {
    background-color: #cfe3f0;
}
.footer {
    font-size: small;
    text-align: center;
}
html, body {
    scroll-behavior: smooth !important;
}
.statistika {
    font-size:xx-large;
}
th input {
    height: 100%;
}

/*navbar*/
.navbar-nav {
    width: 100%;
    text-align: center;
}
.nav-item {
    background-color: #cfe3f0;
    padding: 15px;
}
.nav-item:hover {
    background-color: #ccd5db;
    cursor: pointer;
}
.navbar {
    padding: 0px;
}

select {
    max-width: 300px;
}