<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <nastavnik-navigacija trenutni="nastavnikKalendar"></nastavnik-navigacija>
    </div>
    <div class="col-lg-10 col-12 ">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Kalendar i radno vreme</h2>
            </div>
        </div>
        <div class="row px-3 py-1 border-bottom border-3 border-dark">
            <div class = "col-12">
                <kalendar [podaci]="termini" [datum]="datum" [period]="period" [velicina]="velicina" (strelica)="kalendarStrelica($event)" [disabled]="true"/>
            </div>
        </div>
        <div class="row px-3 py-1 border-bottom border-3 border-dark">
            <div class = "col-12 my-3">
                <h3>Radno vreme</h3>
            </div>
            <div class="col-12">
                <form [formGroup]="radnovremeForma">
                <table class="radnovreme">
                    <tr>
                        <td class="labela">Ponedeljak:</td>
                        <td><radnovreme-input formControlName="0"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Utorak:</td>
                        <td><radnovreme-input formControlName="1"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Sreda:</td>
                        <td><radnovreme-input formControlName="2"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Cetvrtak:</td>
                        <td><radnovreme-input formControlName="3"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Petak:</td>
                        <td><radnovreme-input formControlName="4"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Subota:</td>
                        <td><radnovreme-input formControlName="5"></radnovreme-input></td>
                    </tr>
                    <tr>
                        <td class="labela">Nedelja:</td>
                        <td><radnovreme-input formControlName="6"></radnovreme-input></td>
                    </tr>
                </table>
                <button class="btn btn-primary m-2" (click)="azurirajRadnovreme()">Sacuvaj izmene</button>
                </form>
                <div class="alert alert-success" role="alert" *ngIf="uspehRadnovreme!=''">
                    {{uspehRadnovreme}}
                </div>
                <div class="form-text text-danger">{{greskaRadnovreme}}</div>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class = "col-12 my-3">
                <h3>Nedostupnost</h3>
            </div>
            <div class="col-12">
                <p>Mozete odabrati period u kome niste dostupni za drzanje casova:</p>
                <div class="row">
                    <div class="col-12 col-lg-1 fw-bold">
                        Od
                    </div>
                    <div class="col-12 col-lg-5">
                        <datum-vreme-input [(ngModel)]="nedostupnostOd"></datum-vreme-input>
                    </div>
                    <div class="col-12 col-lg-1 fw-bold">
                        Do
                    </div>
                    <div class="col-12 col-lg-5">
                        <datum-vreme-input [(ngModel)]="nedostupnostDo"></datum-vreme-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-lg-5 col-lg-2 justify-content-center text-center">
                        <button class="btn btn-primary" (click)="azurirajNedostupnost()">Sacuvaj</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 justify-content-center text-center p-2">
                        <div class="alert alert-success" role="alert" *ngIf="uspehNedostupnost!=''">
                            {{uspehNedostupnost}}
                        </div>
                        <div class="form-text text-danger">{{greskaNedostupnost}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

