<div class="row">
    <div class ="col-lg-2 col-12 bg-blue p-0">
        <administrator-navigacija trenutni="statistikaPol"></administrator-navigacija>
    </div>
    <div class="col-lg-10 col-12 ">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Statistika - Pol</h2>
            </div>
        </div>
        <div class="row border-bottom px-3 py-1">
            <div class="col-12 col-md-6">
                <h4>Nastavnici</h4>
                <canvas baseChart
                [datasets]="nastavnikPodaci"
                [labels]="labels"
                [options]="options"
                [legend]="legend"
                [type]="type"></canvas>
            </div>
            <div class="col-12 col-md-6">
                <h4>Učenici</h4>
                <canvas baseChart
                [datasets]="ucenikPodaci"
                [labels]="labels"
                [options]="options"
                [legend]="legend"
                [type]="type"></canvas>
            </div>
        </div>
        <div class="row px-3 py-1">
            <div class="col-12 col-md-10 col-lg-9">
                <h4>Popularnost predmeta po polu</h4>
                <canvas baseChart
                [datasets]="predmetiPodaci"
                [labels]="predmetiLabele"
                [options]="options"
                [legend]="legend"
                [type]="predmetiType"></canvas>
            </div>
        </div>
    </div>
</div>