<!-- app.component.html -->
<div class="container">
    <div class = "row">
        <div class="col-12 text-center">
            <h2>Prijava</h2>
        </div>
    </div>
    <div class="row">
        <div class="offset-4 col-3 border-end">
            <form [formGroup]="prijavaForm" (ngSubmit)="prijava()">
                <div class="mb-3">
                    <label for="kime" class="form-label">Korisnicko ime</label>
                    <input type="text" class="form-control" id="kime" formControlName="kime" required>
                    <div class="form-text text-danger">{{greskaKime}}</div>
                </div>
                <div class="mb-3">
                    <label for="lozinka" class="form-label">Lozinka</label>
                    <input type="password" class="form-control" id="lozinka" formControlName="lozinka" required>
                    <div class="form-text text-danger">{{greskaLozinka}}</div>
                </div>
                <button type="submit" class="btn btn-primary">Prijavi se</button>
            </form>
        </div>
        <div class="col-3 d-flex flex-column">
            <button class = "btn btn-secondary d-block my-3">Administrator</button>
            <button class = "btn btn-secondary d-block my-3">Registacija</button>
            <button class = "btn btn-secondary d-block my-3">Zaboravljena lozinka</button>
            <button class = "btn btn-secondary d-block my-3">Promena lozinke</button>
        </div>
    </div>
</div>

  