<div class="row">
    <div class ="col-md-2 col-sm-12 bg-blue p-0">
        <ucenik-navigacija trenutni="ucenikNastavnik"></ucenik-navigacija>
    </div>
    <div class="col-md-10 col-sm-12">
        <div class = "row border-bottom px-3 py-1">
            <div class="col-12 my-3">
                <h2>Nastavnik</h2>
            </div>
        </div>
        <div class="row px-3 py-1 border-bottom border-bottom-5 profile-info">
            <div class="col-3">
                <img [src]="podaci.profil" width="100%" class="rounded-1">
            </div>
            <!--ime, prezime, profil, mejl, telefon, predmeti, ocene i komentari-->
            <div class="col-9">
                <h2>{{podaci.ime}} {{podaci.prezime}}</h2>
                <p>Predmeti: <span *ngFor="let elem of podaci.predmeti; let last = last">{{elem}}<span *ngIf="!last">, </span></span></p>
                <zvezde [broj]="zaokruzi(podaci.ocena)" visina="40px" [disabled]="true"></zvezde> &nbsp; <span>{{podaci.ocena}}/5</span>
                <br>
                <p>Kontakt: <br> {{podaci.mejl}} <br> {{podaci.telefon}}</p>
                <button class="btn btn-secondary m-1" (click)="zakazi()">Zakazi cas</button>
            </div>
        </div>
        <div class="row px-3 py-1">
            <komentar *ngFor="let elem of podaci.komentari" [slika]="elem.profil" [naslov]="elem.ime + ' ' + elem.prezime"
                [ocena]="elem.ocena" [sadrzaj]="elem.komentar"></komentar>
        </div>
    </div>
</div>